<header class="header">
    <nav class="nav-bar">
        <button class="button" [ngClass]="{'open': menuOpen}" (click)="toggleMenu($event)" (mouseover)="onHover = true" (mouseout)="onHover = false">
            <!-- <i *ngIf="!menuOpen" class="fa fa-bars" aria-hidden="true"></i>
            <i *ngIf="menuOpen" class="fa fa-times" aria-hidden="true"></i> -->

            <span [ngClass]="{'on-hover': onHover}"></span>
            <span [ngClass]="{'on-hover': onHover}"></span>
            <span [ngClass]="{'on-hover': onHover}"></span>
            <span [ngClass]="{'on-hover': onHover}"></span>
            <span [ngClass]="{'on-hover': onHover}"></span>
            <span [ngClass]="{'on-hover': onHover}"></span>

        </button>
    </nav>
    <div class="title-wrapper">
        <h1 id="main-title" class="main-title">Iván Piquero</h1>
        <h2 id="secondary-title" class="secondary-title">Psicólogo</h2>
    </div>
</header>