$primary: #080705;
$primary-opacity: rgba(8, 7, 5, 0.8);
$accent: #E59500;
$accent-hover: #da7800;
$accent-light: #d4cfbf;
$light: #FFFCE8;
$medium: #555B6E;
$high: #3E363F;

$title-font:'Cinzel', serif;
$primary-font: 'Raleway', sans-serif;


// font-family: 'Raleway', sans-serif;
// font-family: 'Dancing Script', cursive;
// font-family: 'Cinzel', serif;