$primary: #080705;
$accent: #E59500;
$accent-hover: #da7800;
$light: #FFFCE8;
$medium: #555B6E;
$high: #3E363F;

$title-font:'Cinzel', serif;
$primary-font: 'Raleway', sans-serif;


// font-family: 'Raleway', sans-serif;
// font-family: 'Dancing Script', cursive;
// font-family: 'Cinzel', serif;