<main class="main">
    <section class="section top-section">
        <h2 class="title">Top section</h2>
        <div class="content">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a mi eu lorem blandit mollis sit amet ac
                est. Cras ut libero in orci sagittis malesuada. Quisque et metus eu ante bibendum facilisis ullamcorper
                et lectus. Nunc blandit metus sapien, sit amet ornare libero elementum quis. Aliquam et facilisis risus.
                Ut hendrerit bibendum vestibulum. Quisque mattis feugiat est a auctor. Nunc at venenatis magna, vitae
                porttitor mauris. Donec rhoncus <app-link-text text="vestibulum eros"></app-link-text>, nec pretium ante lacinia id. Mauris viverra tristique
                aliquam.
            </p>
            <p>
                Phasellus auctor eu magna et luctus. Mauris id felis dictum, posuere lectus id, lacinia felis. Proin
                lacinia dictum lectus, in viverra nisl interdum nec. Sed eleifend egestas ultricies. Vestibulum tempor
                metus a libero tincidunt, eget ultrices magna hendrerit. Sed a posuere eros, sit amet bibendum diam.
                Vivamus et finibus quam. Aliquam sapien tellus, porttitor vitae sem rutrum, porta tristique nunc.
                Maecenas at congue elit.
            </p>
        </div>
    </section>
    <div class="parallax"></div>
    <section class="section middle-section">
        <h2 class="title">Middle section</h2>
    </section>
    <div class="parallax"></div>
    <section class="section bottom-section">
        <h2 class="title">Bottom section</h2>
    </section>
</main>